/*
Syntax error: Invalid CSS after "  display: block ": expected ";", was "!import;"
        on line 1268 of style.scss

1263:   p{
1264:     display: none;
1265:   }
1266: }
1267: .entry-content.clearfix[itemprop="articleBody"] p{
1268:   display: block !import;
1269: }
1270: 
1271: @media only screen and (min-width: 768px) {
1272:   .onecol {
1273:     width: 5.801104972%;

Backtrace:
style.scss:1268
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:1148:in `expected'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:1084:in `expected'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:585:in `block in declaration_or_ruleset'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:542:in `block_contents'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:552:in `block_child'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/scss/parser.rb:27:in `parse'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/engine.rb:342:in `_to_tree'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `each'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/exec.rb:443:in `watch_or_update'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/exec.rb:326:in `process_result'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/exec.rb:41:in `parse'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/lib/sass/exec.rb:21:in `parse!'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.11/bin/scss:9:in `<top (required)>'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/bin/scss:23:in `load'
/Users/orpeled/.rvm/gems/ruby-1.9.3-p392/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  display: block \": expected \";\", was \"!import;\"\A         on line 1268 of style.scss\A \A 1263:   p{\A 1264:     display: none;\A 1265:   }\A 1266: }\A 1267: .entry-content.clearfix[itemprop=\"articleBody\"] p{\A 1268:   display: block !import;\A 1269: }\A 1270: \A 1271: @media only screen and (min-width: 768px) {\A 1272:   .onecol {\A 1273:     width: 5.801104972%;"; }
